$disableColor: #3F564B;
$enableColor: #ffffff;
$DisableColorsecond: #cccccc;
$DisableColorThird: #aaaaaa;
$textColor: #aaaaaa;
$textColor-modal: #454545;
/* light theme colors {{{ */


/* }}} */
/* dark theme colors  {{{ */

/* }}} */

.amPlayer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

#amPlayer-1 {
  max-width: 600px;
  flex-grow: 1;
  direction: rtl;
  padding: 40px 25px;
  border-radius: 25px;
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;
  -webkit-text-size-adjust: 100%;

  background: rgba(9, 28, 17, .96);
  box-shadow: 0 4px 30px rgba(255, 255, 255, .7);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  padding-bottom: 60px;
  margin-bottom: 30px;
}

.amCenter {
  text-align: center;
}

#amCover {
  max-height: 500px;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 50px 20px rgba(255,255,255,.2);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}

.amControllers {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  margin: .4em 0;
  column-gap: .2em;
  
  i {
    font-size: inherit;
    cursor: pointer;
    opacity: 1;
    transition: .2s;
    color: $enableColor;

    &:hover {
      opacity: .7;
    }
  }
}

#amRewind, #amForward {
  font-size: 40px;
}
/* progress bars  {{{ */

#amTimebar {
  width: 80% !important;
}

.amVolumebar {

  i {
    font-size: 25px;
    cursor: pointer;
  }

}

#amVolumeDown, #amVolumeUp, #amDurationTime, #amCurrentTime {
  color: $DisableColorThird;
}

$track-w: 100%;
$track-h: .25em;
$thumb-d: 1.5em;
$track-c: $disableColor;
$filll-c: $enableColor;
$thumb-c: $enableColor;

@mixin track($fill: 0) {
  box-sizing: border-box;
  border: none;
  width: $track-w; height: $track-h;
  background: $track-c;
  
  @if $fill == 1 {
    .js & {
      background: linear-gradient($filll-c, $filll-c)
        0/ var(--sx) 100% no-repeat $track-c
    }
  }
}

@mixin fill() {
  height: $track-h;
  background: $filll-c
}

@mixin thumb() {
  box-sizing: border-box;
  border: none;
  width: $thumb-d; height: $thumb-d;
  border-radius: 50%;
  background: $thumb-c;
}

[type='range']#amTimebar, [type='range']#amVolumebar {
  &, &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min))/var(--range));
  --sx: calc(.5*#{$thumb-d} + var(--ratio)*(100% - #{$thumb-d}));
  margin: 0;
  padding: 0;
  width: $track-w; height: $thumb-d;
  background: transparent;
  font: 1em/1 arial, sans-serif;
  
  &::-webkit-slider-runnable-track {
    @include track(1)
  }
  &::-moz-range-track { @include track }
  &::-ms-track { @include track }
  
  &::-moz-range-progress { @include fill }
  &::-ms-fill-lower { @include fill }
  
  &::-webkit-slider-thumb {
    margin-top: .5*($track-h - $thumb-d);
    @include thumb
  }
  &::-moz-range-thumb { @include thumb }
  &::-ms-thumb {
    margin-top: 0;
    @include thumb
  }
  
  &::-ms-tooltip { display: none }
}


.amTimebar, .amVolumebar, #amDurationTime, #amCurrentTime{
  direction: ltr;
}

.amVolumebar, .amTimebar {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

#amVolumebar {
  width: 60% !important;
}
/* }}} */
.amExtrabar {
  font-size: 25px;
  margin: .7em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;

  .amExtraBtn {
    display: flex;
    column-gap: 12px;
    justify-content: center;
    align-items: flex-start;

    i {
      font-size: inherit;
      cursor: pointer;
      color: $disableColor;
      transition: .2s color;

      &:hover {
        color: $enableColor !important;
      }
    }
  }

  #amTitle {
    font-size: inherit;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    color: $textColor;
    direction: ltr;
    text-align: left;
  }
}

#amPlaylistModal {
  position: absolute;
  background-color: #fff;
  border-radius: 15px;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: 11;
  width: 500px;
  display: none;

  ul {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;

    li {
      padding: 10px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      margin: 0;
      border-radius: 10px;
      transition: .1s;
      cursor: pointer;

      &.current {
        background-color: $DisableColorsecond;
      }

      span {
        overflow: hidden;
        -webkit-line-clamp: 1;
        display: box;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
        color: $textColor-modal;
        font-family: 'Rubik', sans-serif;
      }

      .ampmMinus {
        color: $disableColor;
        transition: .2s;
        cursor: pointer;
        font-size: 20px;

        &:hover {
          color: $enableColor;
        }
      }

      &:hover {
        background-color: #eee;
      }

    }
  }

}

@media screen and (max-width: 320px) {
  #amPlayer-1 {
    max-width: 305px !important;
  }
}

@media screen and (max-width: 360px) {
  #amPlayer-1 {
    max-width: 330px !important;
  }
}

@media screen and (max-width: 450px) {
  #amPlayer-1 {
    max-width: 400px;
  }
}

.amCopyright {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    position: absolute;
    display: block;
    text-decoration: none;
    bottom: 0;
    left: 0;
    opacity: 1;

    img {
      height: 50px;
    }
  }

  #amcShort {
    transition: .3s;
    z-index: 3;
    border-radius: 10px;
    filter: grayscale(1);
    box-shadow: 0 0 30px rgba(69,170,242,.3);
    opacity: .2;

    &:hover {
      opacity: 0;
    }

    &:hover + #amcComplete {
      opacity: .8;
      transform: translateX(10px);
    }

  }

  #amcComplete {
    opacity: 0;
    transition: .3s;
    z-index: 2;
    transform: translateX(-100%);
    bottom: 5px;

    img {
      height: 40px;
    }
  }
}

#ampmBg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(26, 27, 38, .6);
  display: none;
}
